NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_AI_API_URL=http://localhost:3005
NEXTAUTH_URL=http://localhost:4200
NEXTAUTH_SECRET=nextauth-secret-dev-key
AUTH_SECRET=nextauth-secret-dev-key
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITLAB_CLIENT_ID=
GITLAB_CLIENT_SECRET=
BITBUCKET_CLIENT_ID=
BITBUCKET_CLIENT_SECRET=
